<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
>
	<h:head>
		<h:outputStylesheet library="css" name="main.css" />
	</h:head>
	<h:body>
		<p:panel id="panelId">
			<h:outputText styleClass="bold-hello-world" value="#{i18n['com.example.portlet.jsf.primefaces.generate-sample-org-hello-world']}" />
		</p:panel>
		<ul>
			<li><em><h:outputText value="#{product.JSF}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_BRIDGE}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_UTIL}" /></em></li>
			<li><em><h:outputText value="#{product.PRIMEFACES}" /></em></li>
		</ul>
	</h:body>
</f:view>
